<div class="oe_kanban_global_click o_kanban_record_has_image_fill o_hr_kanban_record o_kanban_record" modifiers="{}"
    tabindex="0" role="article">
    <div class="o_field_image o_field_widget o_kanban_image_fill_left o_hr_rounded_circle" aria-atomic="true"
        name="image_128" data-zoom="1"
        data-zoom-image="https://demo5.odoo.com/web/image?model=hr.employee&amp;id=20&amp;field=image_1920&amp;unique=05182020212414"
        style="background-image: url(&quot;https://demo5.odoo.com/web/image?model=hr.employee&amp;id=20&amp;field=image_128&amp;unique=05182020212414&quot;);">
    </div>
    <div class="oe_kanban_details" modifiers="{}">
        <div class="o_kanban_record_top" modifiers="{}">
            <div class="o_kanban_record_headings" modifiers="{}">
                <strong class="o_kanban_record_title" modifiers="{}">
                    <div class="float-right" modifiers="{}">
                        <span class="fa fa-circle text-danger" role="img" aria-label="Absent" title="Absent"
                            name="presence_absent" modifiers="{}"></span>
                    </div>
                    <span>Abigail Peterson</span>
                </strong>
                <span class="o_kanban_record_subtitle" modifiers="{}"><span>Consultant</span></span>
            </div>
            <i class="fa fa-exclamation-triangle text-danger" role="img"
                title="There is something wrong with the contract. Either there is no running contract for this employee or employee's contract is about to expire."
                aria-label="There is something wrong with the contract. Either there is no running contract for this employee or employee's contract is about to expire."
                modifiers="{}"></i>
        </div>
        <div class="o_field_many2manytags o_field_widget o_kanban_tags" name="category_ids"></div>
        <ul modifiers="{}">
            <li id="last_login" modifiers="{}">
            </li>
            <li class="o_text_overflow" modifiers="{}"><span>abigail.peterson39@example.com</span></li>
            <li modifiers="{}"><span>(482)-233-3393</span></li>
        </ul>
    </div>
</div>
